<div id="forgot-password" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Recuperar contraseña</h1>
    <div style="max-width:  450px;" class="mx-auto" v-if="!cloudSuccess">
      <p class="text-center">Ingrese su correo para resetear la contraseña de su cuenta.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="sturgeon@example.com" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Debe ingresar un correo válido.</div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Enviar enlace</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Regresar</a></p>
    </div>
    <div style="max-width:  450px;" class="mx-auto text-center" v-else>
      <p>Hemos enviado un enlace a su correo. Por favor siga los pasos detallados.</p>
      <hr/>
      <p>Si no recibe un correo en unos minutos, revise su carpeta de Correos no deseados. Si aún no encuentra el correo vuelva a solicitar el enlace, o <a href="/contact">póngase en contacto con nosotros.</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Regresar</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
